<p>
Put the following into <i>/etc/X11/xorg.conf.d/00-keyboard.conf</i>
</p>

<pre>
# Written by systemd-localed(8), read by systemd-localed and Xorg. It's
# probably wise not to edit this file manually. Use localectl(1) to
# instruct systemd-localed to update it.
Section "InputClass"
        Identifier "system-keyboard"
        MatchIsKeyboard "on"

        Option "XkbLayout" "us"
        Option "XkbOptions" "caps:escape"
EndSection
</pre>

<p>
Other xkb options are listed in the file <i>/usr/X11/xkb/rules/base</i>
(openSUSE Leap 15.1), such as caps:swapescape which swaps escape and caps
instead.
</p>
