<p>
In the file <i>/etc/systemd/system/xlock@.service</i>, put the following.
</p>

<pre>
[Unit]
Description=Lock X session using xlock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/xlock

[Install]
WantedBy=sleep.target
</pre>

<p>
Now, to activate locking on suspend, do <i>systemctl enable xlock@user</i> where
user is your user.
</p>

<p>
Note: Pretty much the same as the Archlinux wiki's slock entry, but for
xlock.
</p>
