Create the file <i>/etc/udev/rules.d/10-rfkill.rules</i> and put the following:

<pre>
ACTION="add", KERNEL=="rfkill", GROUP="lp", MODE="0664"
</pre>

replacing the GROUP= option with the desired group.
