<p>Open Regedit - <code>windows-r</code> and then type in regedit.</p>

<p>
Go to
<code>HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Taskband</code>
- You can put this into the 'location' bar in Regedit.
</p>

<p>
Create the <tt>DWORD</tt> <b><tt>NumThumbnails</tt></b> and set
the value to <b><tt>1</tt></b>.
</p>

<h3>Sources</h3>
<a href="https://www.addictivetips.com/windows-tips/replace-taskbar-previews-list-view-on-windows-10">
    https://www.addictivetips.com/windows-tips/replace-taskbar-previews-list-view-on-windows-10</a>
