<p>Note that this does not consider sharing internet with the devices yet.</p>

<h3>Prerequisites</h3>
Packages Required
<ul>
    <li>hostapd</li>
    <li>dnsmasq</li>
    <li>iw</li>
</ul>

<p>
First off, make sure you know which interface/card you are using. This can
be done using a combination of <code>ip link</code> and <code>lspci -v</code>.
I'll be using <code>wlp4s0</code> throughout.
</p>

<p>
Now make sure you're interface supports AP mode. This can be seen using
<code>iw list</code>. Under "Supported interface modes:", "AP" should be
listed.
</p>

<h3>Setting up hostapd</h3>

<p>
Here is a configuration which sets up WPA2 - you'll need to edit the password,
ssid, interface, and possibly country code.
</p>
<pre>
# /usr/share/doc/hostapd/hostapd.conf
# http://wireless.kernel.org/en/users/Documentation/hostapd

ctrl_interface=/var/run/hostapd
ctrl_interface_group=wheel

# Some usable default settings...
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0

# WPA2 with preshared key (passphrase).
wpa=2
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP

# TODO
wpa_passphrase=

# Most modern wireless drivers in the kernel need driver=nl80211
driver=nl80211

# Customize these for your local configuration...
interface=wlp4s0
hw_mode=g
channel=1
country_code=US
ssid=TODO
</pre>

<h3>Setting up dnsmasq</h3>
<p>
In `/etc/dnsmasq.conf`, add the line
<pre>interface=wlp4s0</pre> and
<pre>dhcp-range=10.0.0.2,10.0.0.5,12h</pre>
Adjust the second entry in the range if you plan on hosting more than three
devices.
</p>

<h3>Putting it all together</h3>
<ol>
    <li>Mark your interface as the router: <code>ip addr add 10.0.0.1/24 dev wlp4s0</code>.</li>
    <li>Start dnsmasq: <code>systemctl start dnsmasq</code></li>
    <li>Start hostapd: <code>systemctl start hostapd</code></li>
</ol>

<h3>Gotchas</h3>
<p>
On Fedora, selinux can cause some pain.
As per <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1891152">https://bugzilla.redhat.com/show_bug.cgi?id=1891152</a>,
do the following if you encounter AVC denials for <code>comm="hostapd"</code>
in <code>journalctl -xe</code>.
<ol>
    <li>ausearch -c 'hostapd' --raw | audit2allow -M my-hostapd</li>
    <li>semanage -i my-hostapd.pp</li>
</ol>
</p>
