<p>
First find the executable you want to run in Explorer.
Then Right-Click and select "Create shortcut".
Now select the shortcut and "Cut" it via <code>control-x</code>.
</p>

<p>
Invoke the Windows run dialog via <code>windows-r</code>.
Type in <code>shell:startup</code>.
This should now spawn an explorer window with a folder.
Now paste your shortcut in via <code>control-v</code>.
</p>

<p>
Now when Windows starts up, it'll see the shortcut and the program pointed to
will run!
</p>
