<table>
    <thead>
        <tr>
            <th>Edit Date</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2020.01.10T02:41</td>
            <td>Updated script to use UUID. Also need {console,tty,null} devices
                for before devtmpfs is mounted.</td>
        </tr>
    </tbody>
</table>

<h3>Packages</h3>
<table>
    <thead>
        <tr>
            <th>Packages</th>
            <th>Compile notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sys-apps/busybox</td>
            <td>Compile with <code>USE+=static</code>.</td>
        </tr>
        <tr>
            <td>sys-fs/cryptsetup</td>
            <td>Compile with <code>USE+=static</code>.</td>
        <tr>
            <td>sys-fs/lvm2</td>
            <td>
                Compile with <code>USE+=static</code>.
                On my minimal profile OpenRC system this needed eudev with
                <code>USE+=static-libs</code> as well.
                Otherwise the lvm2 compile would fail with a linking error about
                not finding <code>-ludev</code>.
            </td>
        </tr>
    </tbody>
    </tr>
</table>

<h3>Initramfs folder setup</h3>
<p>
As with the linked reference guide, we'll also use
<code>/usr/src/initramfs</code> to store the initramfs files.
</p>

<ol>
    <li>
        <p>Create the folder hierarchy</p>
        <ul>
            <li><code>mkdir /usr/src/initramfs</code></li>
            <li><code>cd /usr/src/initramfs</code></li>
            <li><code>mkdir -p
                {bin,dev,etc,lib,lib64,mnt/root,proc,root,sbin,sys}</code></li>
        </ul>
    </li>
    <li>
        <p>
        Copy needed binaries/files. Verify that the binaries are static by
        using
        <code>file</code> and/or <code>ldd</code>.
        </p>
        <ul>
            <li><code>cp -a /dev/{console,null,tty} dev/</code></li>
            <li><code>cp -a /dev/{urandom,random} dev/</code></li>
            <li><code>cp -a /bin/busybox bin/busybox</code></li>
            <li><code>cp -a /sbin/cryptsetup sbin/cryptsetup</code></li>
            <li><code>cp -a /sbin/lvm.static sbin/lvm</code></li>
        </ul>
    </li>
</ol>

<h3>Setup LVM to not use udev</h3>
<p>In <code>etc/lvm/lvm.conf</code>, place the following.</p>

<pre>
devices {
    # Disable scanning udev for md/multipath components.
    # This is required with recent versions of lvm2, even if you use another solution for
    # your LV device nodes; without it lvm commands will stall for minutes waiting for udev.
    multipath_component_detection = 0
    md_component_detection = 0
}
activation {
    # Set to 0 to disable udev synchronisation (if compiled into the binaries).
    udev_sync = 0
    # Set to 0 to disable the udev rules installed by LVM2
    udev_rules = 0
}
</pre>

<h3>Create the <code>init</code> script</h3>
<p>
Do <code>touch init && chmod +x init</code>. Now place the following into
<code>init</code>.
Adjust the config section with crypt device, Volume Group, and Logical Volume
names.
</p>

<pre>
#!/bin/busybox sh

#
# Init script for root on LUKS + LVM.
# https://wiki.gentoo.org/wiki/Custom_Initramfs
#

###### START config ###############

# What is the device?
CRYPT_UUID="a8a160c4-dedc-403b-9040-8e402574f3c6"
# What should we name the crypt device when we open it?
CRYPT_NAME="immanuel-crypt"

# The Volume Group where the root Logical Volume lies.
VG_NAME="immanuel-vg"
# The name of the root Logical Volume in above ${VG_NAME}.
LV_ROOT="gentoo-root"

###### END   config ###############

fail() {
    echo "ERROR: $@"
    echo "Something went wrong. Sleeping for 10 and then shutting down."
    sleep 10
    exit 1
}

# Mount the /dev, /proc, and /sys filesystems.
echo "INFO: Mounting temporary /dev, /proc, and /sys."
mount -t devtmpfs none /dev  || fail "/dev mount failed."
mount -t proc     none /proc || fail "/proc mount failed."
mount -t sysfs    none /sys  || fail "/sys mount failed."

# Waiting for drive to come online.
UUID_DEVICE=""
for i in $(seq 1 5); do
	echo "INFO: [attempt ${i}] Trying to find ${CRYPT_UUID}."
	sleep 1
	UUID_DEVICE="$(findfs UUID="${CRYPT_UUID}")"
	if [ -n "${UUID_DEVICE}" ]; then
		echo "INFO: Found UUID!"
		break
	fi
done
[ -z "${UUID_DEVICE}" ] && fail "Could not find the UUID within time."


# Do your stuff here.
echo "INFO: Unlocking LUKS ${CRYPT_DEVICE} as ${CRYPT_NAME}"
mkdir -p -m0700 /run/cryptsetup
cryptsetup --tries=5 luksOpen "${UUID_DEVICE}" "${CRYPT_NAME}" \
	|| fail "luksOpen failed."

echo "INFO: Activating root LV."
lvm vgscan --mknodes # Creates /dev/mapper/control
lvm lvchange -a ly "${VG_NAME}/${LV_ROOT}" || fail "Could not find LV root."
lvm vgscan --mknodes # Creates /dev/mapper/${VG_NAME} and
                     # /dev/${VG_NAME}/${LV_ROOT}

# Mount the root filesystem.
echo "INFO: Mounting the root filesystem system."
mount "/dev/${VG_NAME}/${LV_ROOT}" /mnt/root \
	|| fail "Failed to mount root file system."

# Clean up.
echo "INFO: Unmounting up temporary /proc and /sys."
umount /dev  || fail "/dev failed to unmount."
umount /proc || fail "/proc failed to unmount."
umount /sys  || fail "/sys failed to unmount."

# Boot the real thing.
echo "INFO: Switching root to real system."
exec switch_root /mnt/root /sbin/init || fail "Failed to switch_root."
</pre>

An 'up-to-date' version can be found here
<a href="https://gitlab.com/mrkmr/gentoo-conf/-/blob/master/initramfs/init">
    https://gitlab.com/mrkmr/gentoo-conf/-/blob/master/initramfs/init</a>.

<h3>Kernel configuration</h3>
<p>
Now we need to include the initramfs in our kernel.
After <code>make menuconfig</code> in <code>/usr/src/linux</code>, search for
<b><tt>CONFIG_INITRAMFS_SOURCE</tt></b>.
Set this value to <code>/usr/src/initramfs</code>.
Now the kernel will use the initramfs folder we created with our init script on
boot!
</p>

<p>
Next we need to ensure we have EFISTUB enabled so we can directly boot the
kernel from UEFI <i>without a bootloader</i>.
Ensure <b><tt>CONFIG_EFI_STUB</tt></b> is enabled.
Now <code>make</code>, <code>make modules_install</code>, and
<code>make install</code>.
</p>

<p>
You may also want to add <code>quiet loglevel=5</code> to
<b><tt>CONFIG_CMDLINE</tt></b> so that it is easier to see initramfs output like
the cryptsetup password prompt.
</p>

<h3>EFISTUB booting</h3>
<p>
The way I have my partition setup is no <code>/boot</code> partition (it's a
part of the root partition).
I have an EFI partition mounted on <code>/boot/efi</code>.
Copy your recently compiled kernel (should be in
<code>/boot/vmlinuz-XXX-gentoo-rX</code>) into <code>/boot/efi</code>.
</p>

<p>
Now we can create the EFI boot entry to directly boot our kernel.
Here the <code>/boot/efi</code> partition is partition 1 on disk
<tt>nvme0n1</tt>.
My kernel is <tt>vmlinuz-5.4.80-gentoo-r1</tt>.
<code>
efibootmgr --create --disk /dev/nvme0n1 --part 1 --label Gentoo 5.4.80 r1
--loader \vmlinuz-5.4.80-gentoo-r1
</code>
</p>

<h3>Sources</h3>
<a href="https://wiki.gentoo.org/wiki/Custom_Initramfs">
    https://wiki.gentoo.org/wiki/Custom_Initramfs</a>
