<h3>Notes</h3>
<p>
This is only for the Linux TTY.
Tested on Gentoo.
</p>

<p>
Vim auto-decompresses the .gz file used by the TTY to convert keycode into key,
so there's  no need to <code>gunzip</code>, <code>vim</code>, and <code>gzip</code>.
</p>

<h3>Editing the map file</h3>
<p>
<code>nvim /usr/share/keymaps/i386/qwerty/us.map.gz</code> - this path may be
different for non-Gentoo distributions.
</p>

<p>
Now replace all "Caps_Lock" occurrences with "Escape".
There should be just one for keycode 58 near the bottom of the file.
That finishes editing. <code>:x</code> to write and exit vim.
</p>

<h3>Hot-reload current TTY</h3>
<p>
Now on reboot/creating a new TTY Caps Lock will behave like Escape.
However, to reload immediately, do <code>loadkeys us</code>.
</p>

<h3>Sources</h3>
<a href="https://unix.stackexchange.com/questions/266817/how-to-reverse-esc-and-caps-lock-on-tty">
    https://unix.stackexchange.com/questions/266817/how-to-reverse-esc-and-caps-lock-on-tty
</a>
