<h3>Packages</h3>
<ul>
    <li><code>net-fs/samba</code></li>
</ul>

<h3>Samba configuration</h3>
<p>
Create a share in <tt>/etc/samba/smb.conf</tt>.
As usual <tt>/etc/samba/smb.conf.default</tt> is a good place to start from.
</p>

<pre>
[myshare]
    comment = A cool share.
    path = /home/share
    browseable = no
    read only = yes
    valid users = me
</pre>

<p>
Here we're sharing /home/share and it'll only be useable by user "me".
</p>

<p>
Now in the <code>[global]</code> section, ensure passwd backend is "tdbsam".
<pre>
[global]
    server string = someserver
    server role = standalone server
    hosts allow = 192.168.1.
    passwd backend = tdbsam
    disable netbios = yes
    dns proxy = no
</pre>
</p>

<h3>Adding a user password</h3>
<p>
Here we'll use <code>pdb</code> to create passwords.
I believe this requires a UNIX account of the same name to be already created.
As root, <code>pdbedit -a -u me</code> and enter the password you'd like to use
for the account.
Now samba clients will use that name and password to access the share.
</p>

<h3>Starting samba</h3>
<code>rc-service samba start</code>

<h3>Nftables</h3>
<p>
Assuming you only want to connect to using a modern client (Windows 2000 and
above?), we only need to expose <tt>445/tcp</tt> since <tt>139/tcp</tt> is for
Samba on NetBIOS.
In addition, we can only allow certain IPs to connect that we trust.
Below we only allow 192.168.1.34 to connect.
</p>

<pre>
#!/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;
        ct state invalid counter drop comment "early drop of invalid packets"
        ct state {established, related} counter accept comment "accept all connections related to connections made by us"
        iif lo accept comment "accept loopback"
        iif != lo ip daddr 127.0.0.1/8 counter drop comment "drop connections to loopback not coming from loopback"
        iif != lo ip6 daddr ::1/128 counter drop comment "drop connections to loopback not coming from loopback"

        # Accept ICMP (and so, also ping).
        ip protocol icmp counter accept comment "accept all ICMP types"
        ip6 nexthdr icmpv6 counter accept comment "accept all ICMP types"

        # Ports to enable.
        tcp dport 22 counter accept comment "accept SSH"

        # Samba
        ip saddr 192.168.1.34 tcp dport 445 counter accept comment "accept Samba from someclient"

        counter comment "count dropped packets"
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        counter comment "count dropped packets"
    }

    # If you're not counting packets, this chain can be omitted.
    chain output {
        type filter hook output priority 0; policy accept;
        counter comment "count accepted packets"
    }
}
</pre>

<h3>Sources</h3>
<ul>
    <li>Samba ports -
        <a href="https://www.varonis.com/blog/smb-port/">
            https://www.varonis.com/blog/smb-port/</a></li>
    <li>Nftables firewall -
        <a href="https://wiki.gentoo.org/wiki/Nftables/Examples">
            https://wiki.gentoo.org/wiki/Nftables/Examples</a></li>
</ul>
